
.upload-container{
  width: 393px;
  height: 414px;
  background-color: white;
  opacity: 1;
  gap: 24px;
  padding: 24px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  box-shadow: 0px 0px 12px 0px #00000040;
}

.custom-button{
  width: stretch;
    align-items:center;
    padding: 12px;
    border-radius: 8px;

    & >img{
        height: 12px;
        margin-right: 0.25rem;
    }
}

.error{
  color: red;
}

.btn-disabled{
  background: #B7A79C33;
  border: 1px solid #B7A79C33
}

#btn-burger {
        background-color: transparent;
    }

#Sidebar-right{
    display: flex;
    gap: 10px;
}

#btn-logout{
  display: flex;
  background-color: transparent;
}
#btn-logout > img{
  height: inherit;
  max-height: 21px;
}

.btn-icon-dot, .btn-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  border: 1px solid #FFA569;
  gap: 8;
  padding: 8px;
  margin: 8px;
}

.icon-dot{
  height: 16px;
  width: 16px;
}

.dflex {
  display: flex;
}
.dnone{
  display: none;
}

.flex-d-c{
  flex-direction: column;
}

.gap16{
  gap: 16px;
}

.file-details-name{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: black;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.callout{
  display: flex;
  align-items: center;
  width: stretch;
  height: 32px;
  gap: 8px;
  opacity: 1;
  border-width: 1px;
  padding: 8px;
  border-radius: 8px;
}
.info{
  background-color: #E2ECFF;
  border: 1px solid #B1C9F5;
  color: #2A3F72;
;
}

.alert{
  background-color: #FFF5ED;
  border: 1px solid #E6CBB5;
  color: #AA642B;

}